body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainDiv {
    background-color: #273549;
    margin: 12px;
    max-width: 800px;
    padding: 60px 20px;
    border-radius: 12px;
}

span {
    color: #10B981;
}

.btnDiv {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #273549;
    display: none;

}

.line {
    border: 1px solid #2F3E53;
    margin-bottom: 40px;
}

.btn {
    background-color: #10B981;
    font-weight: 400;
    color: #ffffff;
    border: none;
    padding: 10px 40px;
    border-radius: 6px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 30px 0px;
}

.restart-btn {
    color: #273549;
    background-color: #ffffff;
    display: none;
}


.fieldDiv {
    display: flex;
    padding-bottom: 10px;
}

.emptyField {
    width: 100%;
    color: #55F991;
    background-color: #2F3E53;
    border-radius: 6px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}